# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Django
db.sqlite3
media/

# Node
node_modules/

# Static build (optional, if generated)
staticfiles/
static/images/SNEH_PATEL_Ccy6aJf.jpeg
static/images/SNEH_PATEL.jpeg

# OS files
.DS_Store
Thumbs.db